@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kaushan+Script&display=swap');
*{
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
}
body{
}
.navbar{
    background-color: #00101f;
    background-image: linear-gradient(43deg, #00101f 0%, #001f3f 53%, #366590 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.navbar .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -18px;
}
.navbar .logo a{
    font-family: 'Kaushan Script', cursive;
    margin-left: 8px;
    color: #f5f5f5;
}
.navbar .logo .name{
    font-size: 30px;
}
.navbar .logo .slogan{
    font-size: 12px;
}
.navbar .list ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.navbar .list ul li a{
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.3s ease-in-out;
    font-size: 30px;
}
.navbar .list ul li{
    padding: 5px;
}
.submenu{
    left: 450px;
    position: absolute;
    top: 70px;
    visibility: hidden;
    z-index: 1;
}
.navbar .list .submenu ul{
    display: flex;
    text-align: center;
    gap: 10px;
    background-color: #001F3F;
    padding: 5px;
}
.navbar .list .submenu ul li a{
    position: relative;
    float: left;
    width: auto;
    color: #f5f5f5;
    padding: 5px;
    text-align: center;
}
.navbar .list .submenu ul li:hover a,.navbar .list ul li a:hover{
    color: #6da9d1;
}
li .submenu{
    transition: 0.5s;
}
li:hover .submenu{
    visibility: visible;
}
.navbar .icons ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 8px;
}
.navbar .icons ul li{
    list-style: none;
}
.navbar .icons ul input{
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    border: 0;
}
i{
    color: #f5f5f5;
    font-size: 32px;
    transition: 0.3s ease-in-out;
}
i:hover{
    color: #6da9d1;
}
.bi-chevron-down{
    font-size: 20px;
}
.list ul li .shop{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
/* SEARCH INPUT */

/* BUTTON-85 */
#button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #001f3f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 86%;
    left: 59.5%;
    width: 300px;
    height: 55px;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
  }
  
  #button-85:before {
    content: "";
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001F3F;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* BUTTON-86 */
#button-86 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #001f3f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 44%;
    width: 320px;
    height: 65px;
    font-size: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
  }
  
  #button-86:before {
    content: "";
    background: linear-gradient(45deg,#f5f5f5,#f5f5f5,#f5f5f5,#f5f5f5,#001F3F,#001F3F,#001F3F,#001F3F);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-86 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #button-86:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001F3F;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
   /* BUTTON-87 */
#button-87 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #f5f5f5;
    background: #001f3f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 14%;
    width: 350px;
    height: 75px;
    font-size: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
  }
  
  #button-87:before {
    content: "";
    background: linear-gradient(45deg,#f5f5f5,#f5f5f5,#f5f5f5,#f5f5f5,#001F3F,#001F3F,#001F3F,#001F3F);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-87 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #button-87:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001F3F;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* ANIMATION */
  #button-85,#button-86,#button-87{
    animation-iteration-count: 50;
  }
  /* CARDS */
.cards{
    display: flex;
    justify-content: flex-start;
    gap: -500px;
}
  /* CARD JEANS */
  .card p i {
    font-size: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 700px;
    margin: auto;
    text-align: center;
  }
  
  .price {
    color: #001F3F;
    text-decoration: solid;
    font-size: 30px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }